[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "tsdecomp"]
	path = tsdecomp
	url = https://github.com/cran/tsdecomp
[submodule "tsoutliers"]
	path = tsoutliers
	url = https://github.com/cran/tsoutliers
